/* {
    "presets": ["env","stage-0"],
    "plugins": ["transform-runtime"]
} */

{
    "presets": ["@babel/preset-env"],
    "plugins": ["@babel/plugin-transform-runtime",["component",
      {
        "libraryName": "mint-ui",
        "style": true
      }
    ]
      ],
    "ignore": [ "./src/lib/mui/js/*.js" ]
}